<footer class="footer">
    <div class="container">
        <div class="social-links">
            <a href="https://www.linkedin.com/in/raquel-patiño-rodríguez-7460aa248" target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:alloverthebox@outlook.es" title="Email">
                <i class="far fa-envelope"></i>
            </a>
            <a href="https://github.com/RaquelPatinhoRodriguez/alloverthebox" target="_blank" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>
